<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>درباره من</title>
</head>
<body>
<div style="width: 100vw; display: flex; flex-direction: column; justify-content: center; align-items: center">
    <span>
        اول از همه بگم.
        <br>
        من طراح نیستم حوصلش رو هم نداشتم خوشگل کار کنم
        <br>
        نیاین بگین چرا این صفحه هات اینقدر ضایعس :)
        <br>
        قهر میکنم ها :(
    </span>
    <span style="margin-top: 20px">
        اگر پیشنهادی یا مشکلی درمورد افزونه داشتین حتما بهم بگین
        <br>
        سعی میکنم توی سریع ترین زمان حلش کنم
    </span>
    <div style="margin-top: 20px">
        <span>
            آیدی تلگرامم
        </span>
        <a href="https://t.me/MMMohebi79" target="_blank">@MMMohebi79</a>
    </div>
    <span style="margin-top: 40px">دم همتون هم گرم (ایموجی قلب)*3</span>
</div>

</body>
</html>